{% extends 'base.html' %}

{% block content %}
    <div id="Intro" class="container container_full_height">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">

                {% comment %} {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        <div class="container">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="alert-message">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                {% endfor %} {% endcomment %}


                <div class="section">
                    <img src= {{ data.profile_url }} alt="" id="profile_image" class="circle responsive-img mb-4">
                    
                    <h1 class="waves-light">Keith Low</h1>
                        
                    <h6>Freelance Software Engineer</h6>
                    <p><b>NYC&nbsp</b> <i class="fas fa-city"></i> </p>
                    <div class="row">
                        <div class="col s4">
                            <a href={% url 'capture_github' %} class="waves-effect waves-light btn"><i class="fab fa-github fa-4x"></i></a>
                        </div>
                        <div class="col s4">
                            <a href={% url 'capture_linkedin' %} class="waves-effect waves-light btn"><i class="fab fa-linkedin fa-4x"></i></a>
                        </div>
                        <div class="col s4">
                            <a href={% url 'capture_instagram' %} class="waves-effect waves-light btn"><i class="fab fa-instagram fa-4x"></i></a>
                        </div>
                    </div>

                    <div class="progress">
                        <div class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="About" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
            <h1>About</h1>
            
                <div class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                                {% comment %} <div class="card-panel teal lighten-3 z-depth-4"> {% endcomment %}
                                <blockquote>
                                    {{ data.about }}
                                </blockquote>
                                {% comment %} </div> {% endcomment %}
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="Portfolio" class="container">
        <div class="row">
            <div class="col s12 m12 l12 offset-l2">
            <h1 class="center-align">Portfolio</h1>

            {% for project in portfolio %}
                {% if portfolio_size == 1 %}
                    <div class="col s12 m6 offset-m3 l6 offset-l3">
                {% elif portfolio_size == 2 %}
                    <div class="col s12 m6 offset-m3 l6">
                {% else %}
                    <div class="col s12 m6 offset-m3 l4">
                {% endif %}
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ project.image_url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.title|truncatechars:11 }}</br><i class="material-icons right">arrow_drop_up</i></span>
                                <a class="url_link" href="{{ project.project_url }}">Link to project</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><b>{{project.title}}</b><i class="material-icons right">arrow_drop_down</i></span>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}

            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="Skills" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
                <div class="section scrollspy">
                    <h1>Skills</h1>
                    <blockquote>
                        I use <b class="bold">Django</b> for my backend and <b class="bold">React.Js</b> for the front end. <b class="bold">Docker</b> and <b class="bold">Docker-compose</b> are used
                        for better local development and dependencies management. My objective is to create a code-base easy to deploy 
                        and well organized.
                    </blockquote>
                    <div class="row pt-4">
                        <div class="col s4">
                            <a href="" class="waves-effect waves-light btn"><i class="fab fa-python"></i>&nbsp Django</a>
                        </div>
                        <div class="col s4">
                            <a href="" class="waves-effect waves-light btn"><i class="fab fa-react"></i>&nbsp React.Js</a>
                        </div>
                        <div class="col s4">
                            <a href="" class="waves-effect waves-light btn"><i class="fab fa-docker"></i>&nbsp Docker</a>
                        </div>
                    </div>
                    <div class="progress"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="ContactMe" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
                <div class="section scrollspy">
                    <h1>Contact me</h1>
                    <blockquote>
                        Send me a message and let's discuss your next project over coffee!
                    </blockquote>
                    
                {% load crispy_forms_tags %}
                <div class="row">
                    <form class="col s12" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s6">
                                {{ form.full_name|as_crispy_field}}
                            </div>
                            <div class="input-field col s6">
                                {{ form.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.subject|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form.contact_message|as_crispy_field}}  
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Shoot message!
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% comment %} Examples of how to create badges {% endcomment %}

                    <div class="row">
                        <div class="col">
                            <span class="new badge" data-badge-caption="Django">
                                <i class="fab fa-python"></i>
                            </span>
                            
                        </div>
                        <div class="col">
                            <span class="new badge center-align" data-badge-caption="React.Js">
                                <i class="fab fa-react"></i>
                            </span>
                        </div>
                        <div class="col">
                            <span class="new badge" data-badge-caption="Docker">
                                <i class="fab fa-docker"></i>
                            </span>
                        </div>
                    </div>