{% extends 'base.html' %}

{% block content %}

    <div id="Intro" class="container container_full_height">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
                <div class="section">
                    <img src="https://png.pngtree.com/svg/20160307/52c66f1f8b.png" alt="" class="circle responsive-img mb-4">
                    <h1>Keith Low</h1>
                    <h6>Freelance Software Engineer</h6>
                    <p><b>NYC</b></p>
                    <div class="row">
                        <div class="col s4">
                            <a href="https://github.com/keithlowc" class="waves-effect waves-teal"><i class="fab fa-github fa-4x"></i></a>
                        </div>
                        <div class="col s4">
                            <a href="https://linkedin.com/keithlowc" class="waves-effect waves-teal"><i class="fab fa-linkedin fa-4x"></i></a>
                        </div>
                        <div class="col s4">
                            <a href="https://instagram.com/keithlwc" class="waves-effect waves-teal"><i class="fab fa-instagram fa-4x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="About" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
            <h1>About</h1>
                <div class="section">
                    <div class="row">
                        <div class="col s12 m12 l12">
                                <div class="card-panel">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus metus a est vulputate,
                                    fringilla consequat metus convallis. Cras congue ut orci in pulvinar. Sed tempus bibendum nunc eu pharetra.
                                    Donec enim quam, dignissim id porttitor vel, consectetur vel ex. Aliquam ut convallis velit, at gravida diam.
                                    Vestibulum id urna nec orci pulvinar rutrum. Nulla ut mi at quam sodales elementum sit amet ac risus.
                                    In hac habitasse platea dictumst. Suspendisse a arcu et tellus rutrum consequat.</p>
                                </div>
                        </div>
                    </div>          
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="Portfolio" class="container">
        <div class="row">
            <div class="col s12 m12 l12 offset-l2">
            <h1 class="center-align">Portfolio</h1>


            {% comment %} Also input an if statement if the work is only one - Then make class="col l12" {% endcomment %}

            {% for project in portfolio %}
                {% if portfolio_size == 1 %}
                    <div class="col s12 m6 offset-m2 l6">
                {% elif portfolio_size > 2 %}
                    <div class="col s12 m6 offset-m2 l4">
                {% else %}
                    <div class-"col s12 m12 l12">
                {% endif %}
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ project.image_url }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ project.title }}<i class="material-icons right">arrow_drop_up</i></span>
                                <a class="url_link" href="{{ project.project_url }}">Link to project</a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4"><b>Description</b><i class="material-icons right">arrow_drop_down</i></span>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>

            {% endfor %}

            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="Skills" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
                <div class="section scrollspy">
                    <h1>Skills</h1>
                    <p>I use <b class="bold">Django</b> for my backend and <b class="bold">React.Js</b> for the front end. <b class="bold">Docker</b> and <b class="bold">Docker-compose</b> are used
                    for better local development and dependencies management. My objective is to create a code-base easy to deploy 
                    and well organized.
                    </p>
                    <div class="row pt-4">
                        <div class="col s4">
                            <span class="new badge" data-badge-caption="Django">
                                <i class="fab fa-python"></i>
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="new badge" data-badge-caption="React.Js">
                                <i class="fab fa-react"></i>
                            </span>
                        </div>
                        <div class="col s4">
                            <span class="new badge" data-badge-caption="Docker">
                                <i class="fab fa-docker"></i>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <div id="ContactMe" class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l5 center-align">
                <div class="section scrollspy">
                    <h1>Contact me</h1>
                    <p>Shoot me a message and let's discuss your next project over coffee</p>
                    <p>Form goes here..</p>
                    <p>Testing new addition!!!</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% comment %} Examples of how to create badges {% endcomment %}

                    <div class="row">
                        <div class="col">
                            <span class="new badge" data-badge-caption="Django">
                                <i class="fab fa-python"></i>
                            </span>
                            
                        </div>
                        <div class="col">
                            <span class="new badge center-align" data-badge-caption="React.Js">
                                <i class="fab fa-react"></i>
                            </span>
                        </div>
                        <div class="col">
                            <span class="new badge" data-badge-caption="Docker">
                                <i class="fab fa-docker"></i>
                            </span>
                        </div>
                    </div>